[Unit]
Description=Setup configfs USB gadget for usb-moded
DefaultDependencies=no
After=local-fs.target systemd-modules-load.service sys-kernel-config.mount
Wants=sys-kernel-config.mount systemd-modules-load.service
Before=usb-moded.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/setup-configfs.sh
RemainAfterExit=yes
TimeoutStartSec=45

[Install]
WantedBy=basic.target
